

<div class="row tour ">
    <div class="col-sm-1 offset-sm-2 dateobject-container">
      <div class="dateobject-month">
      {{month}} month
      </div>
      <div class="dateobject-day">
      {{day}} da
     </div>
   </div> <!--end of col-->
    <div class="col-sm-2 my-auto">
      <div class="cityobject">
      <span class="cityobject-name">{{city}} City, CT</span>
    </div>
  </div> <!--end of col-->
    <div class="col-sm-2 offset-sm-1 my-auto">
    <div class="tourobject">
     <span class="tourobject-name">{{tour}} tour name </span> 
      <div class="tourobject-moreinfo d-none d-sm-block">
        <a href=""> More Info </a>
      </div>
    </div>  
  </div> <!-- end of col-->

  <div class="ticketsobject col-sm-2 col-6  offset-sm-1 my-auto" >
    
      <button class="ticketsobject-button ">
        <!-- for some reason the following a tag broke my code from rendering, regardless w/o not we posted the component into
        the app.component.html to render...
       later i discovered the A element wasn't working b/c the A was CAPITALIZED and angular must be case sensetive with
     their javascript elements.  -->
         <a href="http://www.summersonic.com/2019/" target="_blank" class="ticketsobject-button-link">Tickets</a> 
      </button>    
 
  </div> <!-- end of col-->
  <div class="moreinfoobject col-xs-6 d-block d-sm-none">
    
     <a href="" target="_blank" class="moreinfo-button-link"> <button class="moreinfo-button"> More Info </button> </a>
    
      <div> 
 
</div> <!--end of row-->
