
    <h2> Tour </h2> 
<div class="row">
  <div class="col-lg-8">
    <div class="dateobject-container">
      <div class="dateobject-month">
      {{month}} 
      </div>
      <div class="dateobject-day">
      {{day}}
     </div>
    </div>
    <!--end of date object-->
    <div class="cityobject">
      {{city}}
    </div>
    <div class="tourobject">
      {{tour}}
      <div class="tourobject-moreinfo">
        More Info
      </div>
    </div>
    <div class="ticketsobject">
      <button class="ticketsobject-button">
        <!-- for some reason the following a tag broke my code from rendering, regardless w/o not we posted the component into
        the app.component.html to render  -->
        <!--  <A href="http://www.summersonic.com/2019/" target="_blank" class="ticketsobject-button-link">TICKETS</a>  -->
      </button>    
    </div>
  </div>
</div> 
