 @import '~bootstrap/dist/css/bootstrap.min.css'; 



.tour {
    color: #48a9bb;
    font-family: cooperhewitt-heavy, stans-serif; 
    text-align: center;
    text-transform: uppercase;
    /* letter-spacing: 0; */
    margin-top: 1.87rem;
    margin-bottom: 1.87rem;
}



.tour > .col-sm-2 {
    padding: .5rem;
}

h1 {
    color: #48a9bb;
    font-family: cooperhewitt-heavy, stans-serif; 
    text-transform: uppercase;
    letter-spacing: .025rem;
    font-size: 3.5rem ;
}

.tour {
 align-items: stretch;
 background-color: 
}

.tour > .background-transparent {
   
}

.row-item {
    height: auto;
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(255,254,249,.2);
    
}



.cityobject-name {
    margin-top: 50%;
}



.dateobject-container {
    background-color: #f4d81e; 
    font-family: cooperhewitt-heavy;
    padding: .7rem;
    padding-bottom: 0rem;
    font-weight: 400;
}

.dateobject-month {
    font-size: 1.062rem;
 
  

}

.dateobject-day {
    font-size: 2.62rem;

}

.cityobject , .tourobject {
    font-size: .97rem
}





.moreinfoobject {
    padding: 0;
}





.moreinfo-button {
    width: 100%;
    font-size: 14px;
   
   

}

.tourobject-moreinfo, .tourobject-moreinfo a {
    font-size: .66rem;
    font-family: cooperhewitt-Book;
    color: black;
    text-decoration: none;
   
    

}

.tourobject-moreinfo > a:hover {
    font-family: cooperhewitt-heavy; 
    /* font-size: .8rem; */
    color: #48a9bb;
}

.ticketsobject-button a , .moreinfo-button a{
    font-size: 11px;
    font-family: cooperHewitt-Heavy;
    line-height: 1;
    color: #fffef9;
    text-decoration: none;
   
    text-transform: uppercase;

}

.ticketsobject-button a, .moreinfo-button a {
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.ticketsobject-button:hover , .moreinfo-button:hover {
    background-color:  #f4d81e;
    color: #fffef9;
}


.ticketsobject-button , .moreinfo-button {
    background-color: #48a9bb;
    border: none;
    box-sizing: border-box;
    height: 25px;
    text-transform: uppercase;
    font-size: 11px;
}

.ticketsobject-link, .moreinfo-button-link{
    color: #e8e8e0;
}


.ticketsobject-button , .moreinfo-button {
    width: 100%;
    padding: 0;
}

.tour > .col-sm-2  {
    padding: 0;
}

.cityobject {
    padding-top: 1.2rem;
    padding-bottom: .5rem;
}

.tourobject {
    padding-bottom: 1.2rem;

}





/* stuff for larger screen sizes goes here: */
@media only screen and (min-width: 1110px){
    .cityobject , .tourobject , .dateobject-month {
        font-size: 1.3rem;
        letter-spacing: 0rem;
    }

    .cityobject {
        width: 27rem;
        text-align: left;
        
    }

    .cityobject-name {
        padding-left: .9rem;
    }

    .tour > .col-sm-2 {
        padding: 1rem;
    }
    
    .container-tour {
       max-width: 1170px;
    }
  

    .tourobject {
       max-width: 517px;
        text-align: left;
    }

    .cityobject {
        padding-top: 1rem;
        padding-bottom: 0;
        vertical-align: middle;
    }
    
    .tourobject {
        padding-top: 1rem;
        padding-bottom: 0;
        vertical-align: middle;
    
    }

    /* .cityobject , .tourobject , .ticketsobject { 
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 1rem;
    } */

    .ticketsobject-button {
        width: 112px;
        margin-left: 4.5rem;
        margin-top: 1rem;
    }

  
}