<div class="footer-background">
  <div class="container">
  <div class="row footer-row">
  <div class="col-sm-11 offset-sm-1">
  <button type="button" class="footer-button"  > Join The Community</button>
 
 </div>
</div>
  <div class="footer-comment-container row">
  <div class="col-sm-8 offset-sm-1">
  <h4 class="footer-comment">THE RHCP COMMUNITY </h4>
  <h4 class="footer-comment-2"> LOTS OF PEOPLE. ONE PLACE. </h4>
  </div>
</div>
<div class="footer-tape-row row">
  <div class="col-sm-8 offset-sm-1">
  <div class="footer-tape"> </div>
</div>
  </div>
</div>
</div>

<div class="footer-background-yellow">
  <div class="container">
  <div class="row">
  <div class="col-sm-8 offset-sm-1">
  <div class="footer-copyright"> © 2019 RHCP. All Rights Reserved.  </div> 
  
</div>
 
</div>
  </div>
</div>