<div id="NewsSection">
  <div class="NewsItem">
      <div class="NewsImg">
          <a href="#" class="NewsImgLink" id="CalifornicationImg">
          </a>
      </div>
      <div class="NewsBody">
          <div class="NewsHeader">
              <div class="NewsFlags"></div>
              <div class="NewsDate">6/08/19</div>
          </div>
          <div class="NewsContent">
              <h4 class="NewsTitle">
                  <a href="#">
                      Californication: 20th Anniversary
                  </a>                
              </h4>
              <div class="NewsContent_Text">
                      On this day twenty years ago, Californication was released! Listen to the album on your preferred streaming service here. Vinyl collectors, pre-order the limited edition Californication picture disc here. To be released on September 13th. Get 20% off select merch in the Shop now. Sale ends June 15th at 11:59pm PDT.",
              </div>
          </div>
          <div class="NewsBody_Footer">
              <a class="btn btn-t-default" ng-href="news.moreLink">Read More</a>
          </div>
      </div>
  </div>

  <div class="NewsItem">
      <div class="NewsImg">
          <a href="#" class="NewsImgLink" id="PyramidsImg">
          </a>
      </div>
      <div class="NewsBody">
          <div class="NewsHeader">
              <div class="NewsFlags"></div>
              <div class="NewsDate">3/14/19</div>
          </div>
          <div class="NewsContent">
              <h4 class="NewsTitle">
                  <a href="#">
                      Live At The Pyramids: Merch
                  </a>                
              </h4>
              <div class="NewsContent_Text">
                      New shirts from tomorrow's Live At The Pyramids show are now in the Shop. Available for a limited time only!  
              </div>
          </div>
          <div class="NewsBody_Footer">
              <a class="btn btn-t-default" ng-href="news.moreLink">Read More</a>
          </div>
      </div>
  </div>

  <div class="NewsItem">
      <div class="NewsImg">
          <a href="#" class="NewsImgLink" id="AustraliaImg">
          </a>
      </div>
      <div class="NewsBody">
          <div class="NewsHeader">
              <div class="NewsFlags"></div>
              <div class="NewsDate">3/12/19</div>
          </div>
          <div class="NewsContent">
              <h4 class="NewsTitle">
                  <a href="#">
                      Australia Live Downloads
                  </a>                
              </h4>
              <div class="NewsContent_Text">
                      The live downloads from the Australian tour are now available at LiveChiliPeppers.com!
              </div>
          </div>
          <div class="NewsBody_Footer">
              <a class="btn btn-t-default" ng-href="news.moreLink">Read More</a>
          </div>
      </div>
  </div>
</div>
